
<div class="std-form">
    <h1 class="center">Log in</h1>
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        
        <%= f.label :password, class: "form-input-space" %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Log in", class: "bttn-sm background-blue white form-input-space" %> 

    <% end %>
    <p class="form-input-space">New user? <%= link_to "Sign up now!", signup_path, class: "blue" %></p> 
</div>


