<div class="container">
    <h1 class="center"> Edit </h1>

    <%= form_with(model: @user, local: true) do |f| %>

    <%= render 'shared/errors', object: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control disabledInput', id: 'disabledInput' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    
    <%= f.submit "Confirm changes", class: "bttn background-blue white" %> 

    <% end %>

</div>